<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>股票操作记录</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../static/css/lib/bootstrap3.4.1.min.css"
          th:href="@{/css/lib/bootstrap3.4.1.min.css}">
    <!-- Bootstrap-table CSS-->
    <link rel="stylesheet" href="../../static/css/lib/bootstrap-table.min.css"
          th:href="@{/css/lib/bootstrap-table.min.css}">
    <!-- jquery-ui CSS-->
    <link rel="stylesheet" href="../../static/css/lib/jquery-ui.min.css" th:href="@{/css/lib/jquery-ui.min.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/css/table.css" th:href="@{/css/table.css}">
</head>

<body onload="init();">

<div class="panel-body" style="padding-bottom:0;">
    <div class="panel panel-default">
        <ul id="myTab" class="nav nav-tabs">
            <li><a href="#ios" data-toggle="tab" onclick="init();">全部</a></li>
            <li><a href="#ios" data-toggle="tab" onclick="filter();">短线</a></li>
            <li><a href="#ios" data-toggle="tab" onclick="filter_no_sell();">未出售</a></li>
            <li><a href="#ios" data-toggle="tab" onclick="filter_wg();">网格</a></li>
        </ul>
    </div>

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>买入股票
        </button>
    </div>
    <table id="table"></table>
</div>

<!-- 模态框（Modal） 新增 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="addModalLabel">
                    买入股票
                </h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="insert_input_price">购买价格</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="insert_input_price">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="insert_input_count">购买数量</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="insert_input_count" title="不能为空">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="insert_input_buy_date">购买日期</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="insert_input_buy_date" title="不能为空">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="insert_input_type">类型</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="insert_input_type">
                                <option value="1">短线</option>
                                <option value="0">网格</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="insert();">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--模态框（Modal） 编辑-->
<div class="modal fade" id="alterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="alterModalLabel">
                    编辑股票信息
                </h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="alert_input_id">序号</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="alert_input_id" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="alert_input_price">购买价格</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="alert_input_price">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="alert_input_count">购买数量</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="alert_input_count">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="alert_input_buy_date">购买日期</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="alert_input_buy_date">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="alter()">编辑</button>
            </div>
        </div> <!--/.modal-content -->
    </div><!--/.modal-->
</div>

<!--模态框（Modal） 出售-->
<div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="sellModalLabel">
                    出售股票
                </h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="sell_buy_id">序号</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="sell_buy_id" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="sell_gp_id">股票代码</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="sell_gp_id" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="sell_input_price">出售价格</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="sell_input_price">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="sell_input_count">出售数量</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="sell_input_count">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="sell_input_date">出售日期</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="sell_input_date">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="sellSave()">出售</button>
            </div>
        </div> <!--/.modal-content -->
    </div><!--/.modal-->
</div>

<!-- JavaScript files-->
<!-- jquery.js -->
<script src="../../static/js/lib/jquery.min.js" th:src="@{/js/lib/jquery.min.js}"></script>
<!-- Bootstrap.js -->
<script src="../../static/js/lib/bootstrap3.4.1.min.js" th:src="@{/js/lib/bootstrap3.4.1.min.js}"></script>
<!-- Bootstrap-table.js -->
<script src="../../static/js/lib/bootstrap-table.min.js" th:src="@{/js/lib/bootstrap-table.min.js}"></script>
<script src="../../static/js/lib/bootstrap-table-zh-CN.min.js"
        th:src="@{/js/lib/bootstrap-table-zh-CN.min.js}"></script>
<!-- sweetalert2.js -->
<script src="../../static/js/lib/sweetalert.min.js" th:src="@{/js/lib/sweetalert.min.js}"></script>
<script src="../../static/js/lib/es6-promise.auto.min.js" th:src="@{/js/lib/es6-promise.auto.min.js}"></script>
<!-- jquery-ui.js -->
<script src="../../static/js/lib/jquery-ui.min.js" th:src="@{/js/lib/jquery-ui.min.js}"></script>
<script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
<script src="../../static/js/dragModel.js" th:src="@{/js/dragModel.js}"></script>
<script>
    /** 初始化 */
    let $table = $('#table');
    let $id = getQueryString("id");
    changeToolTip();

    // 服务器分页获取数据
    function getServerPaging(node, url, queryParams) {
        initTable(node, url, [10, 25, 50, 100, "All"], queryParams, [{
            checkbox: true
        }, {
            field: 'id',
            title: '序号',
            width: "70px",
            formatter: stringFormatter
        }, {
            field: 'name',
            title: '股票',
            width: '70px',
            formatter: stringFormatter
        }, {
            field: 'typeName',
            title: '类型',
            width: '70px',
            formatter: stringFormatter
        }, {
            field: 'price',
            title: '购买价格',
            width: '70px',
            formatter: stringFormatter
        }, {
            field: 'count',
            title: '购买数量',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'sellCount',
            title: '出售数量',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'sellAvgPrice',
            title: '出售均价',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'sellIncome',
            title: '出售盈亏',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'curIncome',
            title: '持股盈亏',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        },{
            field: 'buyDate',
            title: '购买日期',
            width: "70px",
            formatter: stringFormatter
        }, {
            field: 'cost',
            title: '税费佣金',
            width: "70px",
            formatter: stringFormatter
        }, {
            field: 'operTime',
            title: '修改时间',
            width: "70px",
            formatter: dateFormatter
        }, {
            field: 'operation',
            title: '出售',
            width: '170px',
            formatter: operateFormatter // 自定义方法，添加操作按钮
        }]);
    }

    function operateFormatter(value, row, index) {  // 赋予的参数
        return [
            '<button class="btn btn-primary view" data-toggle="modal" data-target="#alterModal" onclick="initUpdate('+ index +');">编辑</button>&nbsp;&nbsp;'+
            '<button class="btn btn-primary view" data-toggle="modal" data-target="#searchModal" onclick="sellLogs('+ index +');">出售日志记录</button>&nbsp;&nbsp;'+
            '<button class="btn btn-primary view" data-toggle="modal" data-target="#sellModal" onclick="sell('+ index +');">出售</button>&nbsp;&nbsp;'
        ].join('');
    }

    function init() {
        getServerPaging($table, "/bond/operating/list", params => {
            return { limit: params.limit, offset: params.offset, sort: "create_time", order: "DESC" ,id:$id};
        });
    }

    function getQueryString(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
           return unescape(r[2]);
        }
        return null;
    }

    function filter() {
        let data = {
            type: '1'
        };
        getServerPaging($table, "/bond/operating/list", params => {
            return { limit: params.limit, offset: params.offset, sort: "create_time", order: "DESC", type: data.type,id:$id};
        });
    }

    function filter_no_sell() {
        let data = {
            status:'0'
        };
        getServerPaging($table, "/bond/operating/list", params => {
            return { limit: params.limit, offset: params.offset, sort: "create_time", order: "DESC",id:$id,status:data.status};
        });
    }


    function filter_wg() {
        let data = {
            type: '0'
        };
        getServerPaging($table, "/bond/operating/list", params => {
            return { limit: params.limit, offset: params.offset, sort: "create_time", order: "DESC", type: data.type,id:$id};
        });
    }

    dragTheModalDialog();


    function insert() {
        let data = {
            count: $('#insert_input_count').val(),
            gpId: $id,
            price: $('#insert_input_price').val(),
            buyDate: $('#insert_input_buy_date').val(),
            type: $('#insert_input_type').val()
        };
         if (data.id <= 0) {
            swal("操作提示", "请输入股票代码", "info");
        } else if (data.price <= 0) {
            swal("操作提示", "价格不合法", "info");
        } else {
            parameterPostRequest("/bond/operating/insert", data, () => {
                $('#addModal').modal('hide');
                swal("正确", "添加成功", "success");
                init();
            });
        }
    }


    // alter记录id
    let alterId;
    function initUpdate(index) {
        let rows = $table.bootstrapTable('getData');
        $('#alert_input_id').val(rows[index].id);
        $('#alert_input_price').val(rows[index].price);
        $('#alert_input_count').val(rows[index].count);
        $('#alert_input_buy_date').val(rows[index].buyDate);
        alterId = rows[index].id;
    }

    function alter() {
        let data = {
            id: alterId,
            count: $('#alert_input_count').val(),
            gpId: $id,
            sellCount: $('#alert_input_sell_count').val(),
            sellIncome: $('#alert_input_sell_income').val(),
            price: $('#alert_input_price').val(),
            buyDate: $('#alert_input_buy_date').val(),
        };
        if ("" === data.id) {
            swal("操作提示", "用户不存在", "info");
        }  else {
            parameterPostRequest("/bond/operating/update", data, () => {
                $('#alterModal').modal('hide');
                swal("正确", "编辑成功", "success");
                init();
            });
        }
    }

  function sell(index) {
        let rows = $table.bootstrapTable('getData');
        $('#sell_buy_id').val(rows[index].id);
        $('#sell_gp_id').val(rows[index].gpId);
        $('#sell_input_count').val(rows[index].count);

        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
        $('#sell_input_date').val(today);

    }

    function sellSave() {
         let data = {
            buyId: $('#sell_buy_id').val(),
            price: $('#sell_input_price').val(),
            count: $('#sell_input_count').val(),
            createTime: $('#sell_input_date').val()
         };
         if (data.price <= 0) {
            swal("操作提示", "价格不合法", "info");
        } else {
            parameterPostRequest("/bond/operating/sell", data, () => {
                $('#addModal').modal('hide');
                swal("正确", "添加成功", "success");
                init();
            });
        }
    }



</script>
</body>
</html>