<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>股票记录</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../static/css/lib/bootstrap3.4.1.min.css"
          th:href="@{/css/lib/bootstrap3.4.1.min.css}">
    <!-- Bootstrap-table CSS-->
    <link rel="stylesheet" href="../../static/css/lib/bootstrap-table.min.css"
          th:href="@{/css/lib/bootstrap-table.min.css}">
    <!-- jquery-ui CSS-->
    <link rel="stylesheet" href="../../static/css/lib/jquery-ui.min.css" th:href="@{/css/lib/jquery-ui.min.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/css/table.css" th:href="@{/css/table.css}">
</head>

<body onload="init();">

<div class="panel-body" style="padding-bottom:0;">
    <div class="panel panel-default" style="text-align:center">
        <table id="tableProfit" border="1" width="600" align="center">
        </table>
    </div>
</div>

<div class="panel-body" style="padding-bottom:0;">
    <div class="panel panel-default">
        <ul id="myTab" class="nav nav-tabs">
            <li><a href="#全部" data-toggle="tab" onclick="init();">全部</a></li>
            <li><a href="#股票" data-toggle="tab" onclick="filter();">股票</a></li>
            <li><a href="#ETF" data-toggle="tab" onclick="filterEtf();">ETF</a></li>
        </ul>
    </div>

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加股票
        </button>
    </div>
    <table id="table"></table>
</div>

<!-- 模态框（Modal） 新增 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="addModalLabel">
                    添加股票信息
                </h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="insert_input_id">股票代码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="insert_input_id">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="insert_input_name">股票名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="insert_input_name" title="不能为空">
                        </div>
                    </div>


                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="insert_input_price">当前价格</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="insert_input_price">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="insert_input_plate">所属板块</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="insert_input_plate">
                                <option value="sh">sh</option>
                                <option value="sz">sz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="insert_input_isetf">是否ETF</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="insert_input_isetf">
                                <option value="0">不是</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="insert();">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--模态框（Modal） 编辑-->
<div class="modal fade" id="alterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="alterModalLabel">
                    编辑股票信息
                </h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" onsubmit="return false;">
                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="alert_input_id">股票代码</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="alert_input_id">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="alert_input_name">股票名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="alert_input_name" title="不能为空">
                        </div>
                    </div>


                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="alert_input_price">当前价格</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="alert_input_price">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="alert_input_plate">所属板块</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="alert_input_plate">
                                <option value="sh">sh</option>
                                <option value="sz">sz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label label-font" for="alert_input_isetf">是否ETF(1是)</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="alert_input_isetf">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="alter()">编辑</button>
            </div>
        </div> <!--/.modal-content -->
    </div><!--/.modal-->
</div>


<!-- JavaScript files-->
<!-- jquery.js -->
<script src="../../static/js/lib/jquery.min.js" th:src="@{/js/lib/jquery.min.js}"></script>
<!-- Bootstrap.js -->
<script src="../../static/js/lib/bootstrap3.4.1.min.js" th:src="@{/js/lib/bootstrap3.4.1.min.js}"></script>
<!-- Bootstrap-table.js -->
<script src="../../static/js/lib/bootstrap-table.min.js" th:src="@{/js/lib/bootstrap-table.min.js}"></script>
<script src="../../static/js/lib/bootstrap-table-zh-CN.min.js"
        th:src="@{/js/lib/bootstrap-table-zh-CN.min.js}"></script>
<!-- sweetalert2.js -->
<script src="../../static/js/lib/sweetalert.min.js" th:src="@{/js/lib/sweetalert.min.js}"></script>
<script src="../../static/js/lib/es6-promise.auto.min.js" th:src="@{/js/lib/es6-promise.auto.min.js}"></script>
<!-- jquery-ui.js -->
<script src="../../static/js/lib/jquery-ui.min.js" th:src="@{/js/lib/jquery-ui.min.js}"></script>
<script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
<script src="../../static/js/dragModel.js" th:src="@{/js/dragModel.js}"></script>
<script>
    /** 初始化 */
    let $table = $('#table');

    changeToolTip();

    // 服务器分页获取数据
    function getServerPaging(node, url, queryParams) {
        initTable(node, url, [10, 25, 50, 100, "All"], queryParams, [{
            checkbox: true
        }, {
            field: 'id',
            title: '股票代码',
            width: "70px",
            formatter: stringFormatter
        }, {
            field: 'name',
            title: '股票名称',
            width: "70px",
            formatter: stringFormatter
        }, {
            field: 'price',
            title: '当前股价',
            width: '50px',
            formatter: stringFormatter
        }, {
            field: 'plate',
            title: '板块',
            width: '30px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'stubProfit',
            title: '短线收益',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'gridProfit',
            title: '长线收益',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'stubCount',
            title: '短线持股数量',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'gridCount',
            title: '长线持股数量',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'gpCount',
            title: '持股总数量',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'profit',
            title: '到手收益',
            width: "70px",
            formatter: stringFormatter
        }, {
            field: 'gpProfit',
            title: '持股盈亏',
            width: '70px',
            align: "center",
            formatter: stringFormatter
        }, {
            field: 'curProfit',
            title: '当前总盈亏',
            width: "70px",
            formatter: stringFormatter
        },{
            field: 'lastMonthProfit',
            title: '上月总收益',
            width: "70px",
            formatter: stringFormatter
        },  {
            field: 'curMonthProfit',
            title: '本月总收益',
            width: "70px",
            formatter: stringFormatter
        }, {
            field: 'todayTProfit',
            title: '今日T收益',
            width: "70px",
            formatter: stringFormatter
        }, {
            field: 'operation',
            title: '操作',
            width: '170px',
            formatter: operateFormatter // 自定义方法，添加操作按钮
        }]);
    }

  function loadProfitData() {
    let datePicker = datePickerStruct($("#reservation").val());
    let startDate = datePicker.startDate;
    let endDate = datePicker.endDate;
    $.ajax({
      type: "POST",
      url: "/bond/analyse",
      dataType: "json",
      data: {
        "startDate": startDate,
        "endDate": endDate
      },
      success: function (chartData) {
        if (window.onlineRealtimeChart != null) {
          window.onlineRealtimeChart.destroy();
        }
        window.onlineRealtimeChart = new Chart(document.getElementById('areaChart'), {
          type: type,
          data: chartData,
          options: {
            responsive: true,
            responsiveAnimationDuration: 3,
            aspectRatio: 3,
            tooltips: {
              mode: 'index',
              intersect: false,
            },
            hover: {
              mode: 'nearest',
              intersect: true
            }
          }
        });
      }
    });
  }

  $(function () {
      window.scrollTo(0,0);
      let nowDate = new Date();
      let today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
      $('#reservation').daterangepicker({
          timePickerIncrement: 30
          , "locale": datePickerLocale,
          "maxDate": today
      });
  });

    function operateFormatter(value, row, index) {  // 赋予的参数
        return [
            '<button class="btn btn-primary view" data-toggle="modal" data-target="#alterModal" onclick="initUpdate('+ index +');">编辑</button>&nbsp;&nbsp;'+
            '<button class="btn btn-primary view" data-toggle="modal" onclick="bondInfo('+ index +');">购买</button>&nbsp;&nbsp;'+
            '<button class="btn btn-danger view"  onclick="deleteOne('+ index +');">删除</button>'
        ].join('');
    }

    function bondInfo(index){
      let url = "http://127.0.0.1:8080/bond/?id="+$table.bootstrapTable('getData')[index].id;
      window.open(url);
    }


    function init() {
        getServerPaging($table, "/bond/list", params => {
            return { limit: params.limit, offset: params.offset, sort: "create_time", order: "DESC" };
        });
        loadProfitData("/bond/analyse");
    }

    function loadProfitData(url){
       let data = {
          startTime:'2020',
          endTime:'2020'
       };
      $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async : false, //同步执行
            data: JSON.stringify(data),
            traditional: true,
            contentType : "application/json",
            success: function (result) {
                loadPageData(result);
            },
            error: function () {
                swal("错误", "404", "error");
            }
         }
        );
    }


    function loadPageData(result){
         let list = result.module;
         var textHTML = '<tr>';
         textHTML+='<td>日期(月份)</td>';
         textHTML+='<td>短线收益</td>';
         textHTML+='<td>长线收益</td>';
         textHTML+='<td>总收益</td></tr>';

         for(let i in list){
              textHTML +=('<tr>');
              textHTML+='<td>'+list[i].date+'</td>';
              textHTML+='<td>'+list[i].stubProfit+'</td>';
              textHTML+='<td>'+list[i].gridProfit+'</td>';
              textHTML+='<td>'+list[i].totalProfit+'</td>';
              textHTML+='</tr>';
              console.log(i,list[i]);
         }
         document.getElementById("tableProfit").innerHTML = textHTML;
    }


    function filter() {
        let data = {
           isEtf: '0'
        };
        getServerPaging($table, "/bond/list", params => {
            return { limit: params.limit, offset: params.offset, sort: "create_time", order: "DESC", isEtf: data.isEtf};
        });
    }

    function filterEtf() {
        let data = {
            isEtf: '1'
        };
        getServerPaging($table, "/bond/list", params => {
            return { limit: params.limit, offset: params.offset, sort: "create_time", order: "DESC", isEtf: data.isEtf};
        });
    }

    dragTheModalDialog();
    function insert() {
        let data = {
            name: $('#insert_input_name').val(),
            id: $('#insert_input_id').val(),
            price: $('#insert_input_price').val(),
            isEtf: $('#insert_input_isetf').val(),
            plate: $('#insert_input_plate').val()
        };
        if ("" === data.name) {
            swal("操作提示", "姓名不能为空", "info");
        } else if (data.id <= 0) {
            swal("操作提示", "请输入股票代码", "info");
        } else if (data.price <= 0) {
            swal("操作提示", "价格不合法", "info");
        } else {
            parameterPostRequest("/bond/insert", data, () => {
                $('#addModal').modal('hide');
                swal("正确", "添加成功", "success");
                init();
            });
        }
    }
    
    function deleteOne(index) {
        dialog("确定删除吗？", () => {
            let data = { id: $table.bootstrapTable('getData')[index].id };
            parameterPostRequest("/student/delete", data, () => {
                swal("正确", "删除成功", "success");
                init();
            });
        });
    }

    // alter记录id
    let alterId;
    function initUpdate(index) {
        let rows = $table.bootstrapTable('getData');
        $('#alert_input_id').val(rows[index].id);
        $('#alert_input_name').val(rows[index].name);
        $('#alert_input_plate').val(rows[index].plate);
        $('#alert_input_price').val(rows[index].price);
        $('#alert_input_isetf').val(rows[index].isEtf);
        alterId = rows[index].id;
    }
    
    function alter() {
        let data = {
            id: alterId,
            name: $('#alert_input_name').val(),
            plate: $('#alert_input_plate').val(),
            isEtf: $('#alert_input_isetf').val(),
            price: $('#alert_input_price').val()
        };
        if ("" === data.id) {
            swal("操作提示", "用户不存在", "info");
        } else if ("" === data.name) {
            swal("操作提示", "姓名不能为空", "info");
        }  else {
            parameterPostRequest("/bond/update", data, () => {
                $('#alterModal').modal('hide');
                swal("正确", "编辑成功", "success");
                init();
            });
        }
    }

</script>
</body>
</html>