<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>收益统计与分析</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../static/css/lib/bootstrap3.4.1.min.css"
          th:href="@{/css/lib/bootstrap3.4.1.min.css}">
    <!-- Bootstrap-table CSS-->
    <link rel="stylesheet" href="../../static/css/lib/bootstrap-table.min.css"
          th:href="@{/css/lib/bootstrap-table.min.css}">
    <!-- jquery-ui CSS-->
    <link rel="stylesheet" href="../../static/css/lib/jquery-ui.min.css" th:href="@{/css/lib/jquery-ui.min.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/css/table.css" th:href="@{/css/table.css}">
</head>

<body onload="init();">

<div class="panel-body" style="padding-bottom:0;">
    <table id="table" border="1" width="600" align="center">
    </table>
</div>


<!-- JavaScript files-->
<!-- jquery.js -->
<script src="../../static/js/lib/jquery.min.js" th:src="@{/js/lib/jquery.min.js}"></script>
<!-- Bootstrap.js -->
<script src="../../static/js/lib/bootstrap3.4.1.min.js" th:src="@{/js/lib/bootstrap3.4.1.min.js}"></script>
<!-- Bootstrap-table.js -->
<script src="../../static/js/lib/bootstrap-table.min.js" th:src="@{/js/lib/bootstrap-table.min.js}"></script>
<script src="../../static/js/lib/bootstrap-table-zh-CN.min.js"
        th:src="@{/js/lib/bootstrap-table-zh-CN.min.js}"></script>
<!-- sweetalert2.js -->
<script src="../../static/js/lib/sweetalert.min.js" th:src="@{/js/lib/sweetalert.min.js}"></script>
<script src="../../static/js/lib/es6-promise.auto.min.js" th:src="@{/js/lib/es6-promise.auto.min.js}"></script>
<!-- jquery-ui.js -->
<script src="../../static/js/lib/jquery-ui.min.js" th:src="@{/js/lib/jquery-ui.min.js}"></script>
<script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
<script src="../../static/js/dragModel.js" th:src="@{/js/dragModel.js}"></script>
<script>
    /** 初始化 */
    let $table = $('#table');

    changeToolTip();

    function init() {
         loadData("/bond/analyse");
    }

    function loadData(url){
       let data = {
          startTime:'2020',
          endTime:'2020'
       };
      $.ajax({
            type: "POST",
            url: url,
            dataType: "json",
            async : false, //同步执行
            data: JSON.stringify(data),
            traditional: true,
            contentType : "application/json",
            success: function (result) {
                loadPageData(result);
            },
            error: function () {
                swal("错误", "404", "error");
            }
         }
        );
    }


    function loadPageData(result){
         let list = result.module;
         var textHTML = '<tr>';
         textHTML+='<td>日期(月份)</td>';
         textHTML+='<td>短线收益</td>';
         textHTML+='<td>网格收益</td>';
         textHTML+='<td>总收益</td></tr>';

         for(let i in list){
              textHTML +=('<tr>');
              textHTML+='<td>'+list[i].date+'</td>';
              textHTML+='<td>'+list[i].stubProfit+'</td>';
              textHTML+='<td>'+list[i].gridProfit+'</td>';
              textHTML+='<td>'+list[i].totalProfit+'</td>';
              textHTML+='</tr>';
              console.log(i,list[i]);
         }
         document.getElementById("table").innerHTML = textHTML;
    }



</script>
</body>
</html>